.disc-bg {
    width: 100%;
    position: relative;
    z-index: -1;
    margin-top: -10rem;
}

.grad-bg {
    position: relative;
    height: 40rem;
    width: 100%;
    margin-top: -40rem;
    background: linear-gradient(180deg, rgba(26, 29, 45, 0.01) 0%, #1A1D2D 100%);
}

.search-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -20rem;
}
.search-field {
    font-family: 'Montserrat', sans-serif;
    padding: .8rem 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 50rem;
    border: none;
    outline: none;
    background: rgba(217, 217, 217, 0.68);
    backdrop-filter: blur(10px);
}

.search-field::placeholder {
    color: #5B5B5B;
}